/* font-family: 'Merienda', cursive; */

// $rich form black: #080708;
// $champagne-pink: #f9dec9;
// $wild-blue-yonder: #99b2dd;
// $purple-navy: #5e548e;
// $paradise pink: #EF476F;
// $rose white: rgba(255, 248, 248, 1) 

//some other variables throughout the code defined above
//the parts as needed for easier toggling / changing of 
//effects
 *, *::before, *::after { 
     box-sizing: border-box 
 }
//my variables
:root {
    --typewriterSpeed: 6s;
    --typewriterCharacters: 11;
  }
  $myblack: rgba(8, 7, 8, 1);
  $mypurple: rgba(94, 84, 142, 1);
  $myblue: rgba(153, 178, 221, 1);
  $mypink: rgba(249, 222, 201, 1);
  $myred: rgba(238, 71, 111, 1);
  $mywhite: rgba(255, 248, 248, 1); 


  //change to adjust the curvature of the images
  $imageborderradius: 0%;

  $gradientbackground: linear-gradient(to bottom, rgba(94, 84, 142, .8), rgba(103, 101, 158, .8),
  rgba(112, 119, 173, .8), rgba(123, 136, 188, .8), rgba(135, 154, 202, .8), 
  rgba(141, 162, 208, .8), rgba(147, 170, 215, .8), rgba(153, 178, 221, .8),
   rgba(153, 178, 221, .8), rgba(153, 178, 221, .8), rgba(153, 178, 221, .8),
    rgba(153, 178, 221, .8));


#aboutcontainerid {

    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    color: $mypurple;
    font-family: 'Merienda', cursive;
}

#aboutinnercontainerid {
    order: 0 !important;
    width: auto;
    height: auto;
    position: relative;
    font-weight: 600;
    font-size: clamp(2vw, 5vw, 5rem);
    background-attachment: fixed;
    margin-bottom: 0rem;

    &::before,
    &::after {
        content: '';
        display: block;
        position: absolute;
    }

    &::before {
        width: 100%;
        background: linear-gradient(rgba(249, 222, 201, 0.57), rgba(153, 178, 221, .8));
        height: 100%;
        z-index: 0;    
    }
    &::after {
        background: linear-gradient(rgba(249, 222, 201, .9), rgba(153, 178, 221, 0.8));
        width: 100vw;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        height: 100%;
        box-shadow: rgba(0, 0, 0, 0.01) 0px 19px 38px, rgba(0, 0, 0, 0.05) 0px 15px 12px;
        z-index: -1;
    }
}
.gearandparacontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    margin-bottom: 8rem;

}
.geardiv {
    position: absolute;
    background-image: url('../../assests/gear.svg');
    background-repeat: no-repeat;
    background-color: $myblue;
    background-size: contain;
    position: absolute;
    width: 50rem;
    height: 50rem;
    color: $mypurple;
    z-index: -2;
    animation: rotate 5s linear infinite;
    filter: blur(4px);
    -webkit-filter: blur(4px);
    opacity: .6;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(359deg);
    }
}
.gearpone {
   font-size: 3rem;
   font-family: 'Rajdhani', sans-serif;
   font-weight: bold;
   color: $mypurple;
}
.gearptwo {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Rajdhani', sans-serif;
    color: $mypurple;
}

    

.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: $mypink;
  font-size: 1.5rem;
  cursor: pointer;
  font-family: 'Rajdhani', sans-serif;
  position: relative;
  z-index: 0;
  border-radius: 10%;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: $mypurple;
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  transition: opacity 0.3s ease-in-out;
  border-radius: 10%;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: $mypurple;
  left: 0;
  top: 0;
  border-radius: 10%;
}
.button-85 {
    
    a:hover,
    a:focus {
        background: $mypurple !important;
        color: $mypink;
}
a:hover::before,
a:focus::before
 {
    content: "";
    background: linear-gradient(
      45deg,
      $mypink,
      $myblue,
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10%;
}
}
@media screen and (max-width: 1585px) {
.gearandparacontainer {    
    margin-bottom: 8rem;
}
.geardiv{
    width: 40rem;
    height: 40rem;
}
.gearpone {
    font-size: 2.5rem;
}
.gearptwo {
    font-size: 1.5rem;
}


}
@media screen and (max-width: 1100px) {
    .gearandparacontainer {    
        margin-bottom: 8rem;
    }

    .geardiv{
        width: 30rem;
        height: 30rem;
    }
    .gearpone {
        font-size: 2rem;
    }
    .gearptwo {
        font-size: 1rem;
    }
    .button-85 {
        width: 50%;
        height: 50%;
        font-size: .7rem;
    }
}

@media screen and (max-width: 800px) {

    .gearandparacontainer {    
    
        margin-bottom: 4rem;
    
    }
    .geardiv{
        width: 22rem;
        height: 22rem;
    }
    .gearpone {
        font-size: 1.5rem;
    }
    .gearptwo {
        font-size: 1rem;
    }
    .button-85 {
        width: 50%;
        height: 50%;
        font-size: .5rem;
    }
}
@media screen and (max-width: 630px) {

    .gearandparacontainer {    
    
        margin-bottom: 4rem;
    
    }
    .geardiv{
        width: 20rem;
        height: 20rem;
    }
    .gearpone {
        font-size: 1.5rem;
    }
    .gearptwo {
        font-size: 1rem;
    }
    .button-85 {
        width: 50%;
        height: 50%;
        font-size: .5rem;
    }
}
@media screen and (max-width: 550px) {
    .gearandparacontainer {    
    
        margin-bottom: 4rem;
    
    }
    .geardiv{
        width: 15rem;
        height: 15rem;
    }
    .gearpone {
        font-size: 1.2rem;
    }
    .gearptwo {
        font-size: .8rem;
    }
    .button-85 {
        width: 50%;
        height: 50%;
        font-size: .5rem;
    }
}

@media screen and (max-width: 320px) {
    .gearandparacontainer {    
    
        margin-bottom: 1rem;
    
    }
    .geardiv{
        width: 11rem;
        height: 11rem;
    }
    .gearpone {
        font-size: .8rem;
    }
    .gearptwo {
        font-size: .7rem;
    }
    .button-85 {
        width: 50%;
        height: 50%;
        font-size: .3rem;
    }
}


.svgparacarouselcontainer {
    background: $gradientbackground;
      color: $mypurple;
      font-family: 'Merienda', cursive;
      margin-top: 9rem;
      background-attachment: fixed;
      box-shadow: rgba(0, 0, 0, 0.01) 0px 19px 38px, rgba(0, 0, 0, 0.05) 0px 15px 12px;

      &::before,
      &::after {
          content: '';
      }
  
      &::before {
        background: $gradientbackground;
        z-index: 0;    
      }
      &::after {
        background: $gradientbackground;
        width: 100vw;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        height: 100%;
        z-index: -1;
      }
}

.svgandparacontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 9rem;
    margin-left: 9rem;
    order: 0 !important;
    column-gap: 2rem;
    padding: 12rem;
    width: auto;
    height: auto;

}

.inner_poligon{
    order: 1 !important;
    display: flex;
    background: linear-gradient(rgba(153, 178, 221, 1), rgba(249, 222, 201, 1));
    width: 40rem; 
    min-width: 40rem;
    min-height: 40rem;
    height: 40rem; 
    justify-content: center;
    align-items: center;
    clip-path: circle(50% at 50% 50%); 
    max-width: 1440px;
    padding: 4vh;
    box-shadow: rgba(0, 0, 0, 0.01) 0px 19px 38px, rgba(0, 0, 0, 0.05) 0px 15px 12px;
    cursor: pointer;
    background-attachment: fixed;
}

.inner_poligon:active {
    will-change: transform;
    transition:  rotateY(45deg) 500ms ease-in-out;
    animation: rotateAnimation 2500ms infinite;
}

@keyframes rotateAnimation {
	from {transform: rotateY(45deg);}
	to {transform: rotateY(225deg);}
}

 @media screen and (max-width: 1000px) {
    .inner_poligon {
        flex-direction: column;
        width: 25rem; 
        min-width: 25rem;
        min-height: 25rem;
        height: 25rem;  
        min-inline-size: 10rem;
        padding: 9vh;
        order: 0 !important;
        display: flex;
        background: linear-gradient(rgba(153, 178, 221, 1), rgba(249, 222, 201, 1));
        justify-content: center;
        align-items: center;
        clip-path: circle(50% at 50% 50%); 
    }
}


.bubblegumgif {
    width: auto;
    height: auto; 
    opacity: .8;
}

@media screen and (max-width: 1000px) {
    .bubblegumgif {
        display: inline-block;
        width: auto; 
        height: auto;
    }
}

@media screen
and (max-device-width: 0px) 
and (min-device-width: 320px) { 
    .inner_poligon {
        flex-direction: column;
        width: 10rem; 
        min-width: 10rem;
        height: 10rem;  
        min-height: 10rem;
        padding: 1vh;
        order: 0 !important;
        display: flex;
        background: $mypink;
        justify-content: center;
        align-items: center;
        clip-path: circle(50% at 50% 50%); 
        box-shadow: rgba(0, 0, 0, 0.01) 0px 19px 38px, rgba(0, 0, 0, 0.05) 0px 15px 12px;
    }
    
.inner_poligon:active {
    animation: none !important;
}
.geardiv {
    animation: none !important;
}
.gearandparacontainer {
    visibility: hidden !important;
    height: 0 !important;
    width: 0 !important;
}

.panelcontainer {
    visibility: hidden;
    height: 0;
    width: 0;
}
.gridcontainer {
    visibility: hidden;
    height: 0;
    width: 0;
}
    .bubblegumgif {
        min-height: 10rem;
        height: 10rem;
        width: 10rem;
        min-width: 10rem;
    }
    .svgandparacontainer {
        flex-direction: column;
        display: flex;
        order: 1 !important;
        column-gap: 2rem;
     }
     .imageoutercontainer {
        flex-flow: column;
        order: 2 !important;
        margin-bottom: 6rem;
        row-gap: 2rem;
        display: flex;        
    }
    .svgparacarouselcontainer {
        padding: 0 !important;
        margin-top: 2rem !important;
    }
   
 
 }


@media screen and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .inner_poligon {
        flex-direction: column;
        width: 10rem; 
        min-width: 10rem;
        height: 10rem;  
        min-height: 10rem;
        padding: 1vh;
        order: 0 !important;
        display: flex;
        background: $mypink;
        justify-content: center;
        align-items: center;
        clip-path: circle(50% at 50% 50%); 
        box-shadow: rgba(0, 0, 0, 0.01) 0px 19px 38px, rgba(0, 0, 0, 0.05) 0px 15px 12px;
    }
    .inner_poligon:active {
        animation: none !important;
    }
    .geardiv {
        animation: none !important;
    }
    .gearandparacontainer {
        visibility: hidden !important;
        height: 0 !important;
        width: 0 !important;
    }
 
    .panelcontainer {
        visibility: hidden;
        height: 0;
        width: 0;
    }
    .gridcontainer {
        visibility: hidden;
        height: 0;
        width: 0;
    }
    .bubblegumgif {
        min-height: 10rem;
        min-width: 10rem;
    }
    .svgandparacontainer {
        flex-direction: column;
        display: flex;
        order: 1 !important;
        column-gap: 2rem;
     }
    
     .imageoutercontainer {
        flex-flow: column;
        order: 2 !important;
        margin-bottom: 4rem;
        row-gap: 2rem;
        display: flex;        
    }
    .svgparacarouselcontainer {
        padding: 0 !important;
        margin-top: 2rem !important;
    }
  }

#aboutfirstparaid {
    font-size: calc(2.1vw + .5rem);
    order: 1 !important;
    width: 100%;
    height: 95%;
    max-width: 1440px;
    min-height: 40vh;
    padding: 1vh;
}


@media screen and (max-width: 1000px) {
    .svgandparacontainer {
        flex-direction: column;
        display: flex;
        padding-bottom: 0rem;
        order: 1 !important;
        column-gap: 2rem;
        justify-content: center;
        outline-offset: 3rem;
    }
    

    #aboutfirstparaid {
        min-height: 15vh;
        padding: 2vh;
        font-size: calc(2.1vw + .5rem);
        order: 1 !important;
        width: 100%;
        height: 95%;
        max-width: 1440px;
    }
    
}

.imageoutercontainer {
    order: 2 !important;
    min-height: 30vh;
    margin-bottom: 6rem;
    column-gap: 3rem;
    row-gap: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    scroll-behavior: smooth;
    color: $mypink;
    position: relative;
}


  @media screen and (min-width: 1490px ){
    
// @keyframes mover {
//     from {
//         transform: translate(-1000px, 0);
//       }
//       to {
//         transform: translate(calc(-100% + (5 * 200px)));
//       }
//     }
//     @keyframes fadeinphoto {
//         0% {opacity: 0;}
//         50% { opacity: 1;}
//         100% {opacity: 0;}
//     }

//     .image {
//         animation: mover 30s linear infinite alternate;
//         } 
   }

.imageoutercontainer img {
    max-width: fit-content;
    box-shadow: rgba(0, 0, 0, 0.01) 0px 19px 38px, rgba(0, 0, 0, 0.05) 0px 15px 12px;
}
.imageoutercontainer {
    min-height: 30rem;
}
 .imageone__img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: $imageborderradius;
}
.imageone__img:hover {
    animation: none;
}
.imagetwo__img:hover {
    animation: none;
}
.imagethree__img:hover{
    animation: none;
}
.imagefour__img:hover {
    animation: none;
}
.imagefive__img:hover {
    animation: none;
}

.imagetwo__img {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        border-radius: $imageborderradius; 
}

.imagethree__img {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        border-radius: $imageborderradius; 
}

.imagefour__img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: $imageborderradius; 
}
.imagefive__img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: $imageborderradius;
}



@media screen and (min-width: 1490px) {
    
.imageoutercontainer {

    position: relative;




    &::before,
    &::after {
        content: '';
        display: block;
        position: absolute;      
    }

    &::before {
        width: 100%;
        height: 100%;
        z-index: -1;

    }
    &::after {
        width: 100vw;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        z-index: -2;
        height: 100%;
    }
}
}

@media screen 
and (min-width: 320px)
and (max-width: 1490px) {
    .imageoutercontainer {
        flex-direction: column;
        order: 2 !important;
        width: auto;
        min-height: 30vh;
        margin-bottom: 6rem;
        column-gap: 3rem;
        display: flex;
        align-items: center;
    }
 
    .imageoutercontainer img {
        width: 400px;
        height: auto;
        position: relative;
        background-color:  rgba(94, 84, 142, 1);
    }
   
 
}
.image {
    width: auto !important;
    height: fit-content !important;
    position: relative !important;
    background: none;
    border: .1rem solid $mypurple !important;
    order: 2 !important;
    height: 25rem !important;
    padding: 1rem !important;
    border-radius: $imageborderradius !important;
    margin: 1rem !important;
}

.image__img {
    width: 100% !important;
    display: block !important;
    transition: opacity ease-out 250ms ;
    opacity: 1;
    border-radius: $imageborderradius;

}


.image__img:hover{
    opacity: 1;
    border-radius: $imageborderradius;
}

.image__overlay {
    position: absolute !important;
    top: 80% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    color: $mypurple;
    opacity: 1;
    transition: opacity ease-out 250ms;
    width: 100% !important;    
    height: 100% !important;
    display: flex !important;
    flex-flow: wrap !important;
    padding: 1rem !important;
    font-family: 'Rajdhani', sans-serif !important;
    font-weight: bold;
    font-size: 1.3rem;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    border-radius: $imageborderradius;
}



.image:hover .image__overlay {
    opacity: 1;
    border-radius: $imageborderradius;
}





.imagetwo {
    width: auto;
    height: fit-content;
    position: relative;
    background-color: $gradientbackground;
    order: 2;
    box-shadow: rgba(0, 0, 0, 0.01) 0px 19px 38px, rgba(0, 0, 0, 0.05) 0px 15px 12px;
    border-radius: $imageborderradius;
    margin: 1rem;


}

.imagetwo__img {
    width: 100%;
    display: block;
    transition: opacity ease-out 250ms;
    opacity: 1;
    border-radius: $imageborderradius;

}

.imagetwo__img:hover{
    opacity: 1;
    border-radius: $imageborderradius;

}

.imagetwo__overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $mypink;
    font-weight: 400;
    opacity: 1;
    transition: opacity ease-out 250ms;
    background:  rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: $imageborderradius;
 
}

.imagetwo:hover .imagetwo__overlay {
    opacity: 1;
    border-radius: $imageborderradius;

}




.imagethree {
    width: auto;
    height: fit-content;
    position: relative;
    background-color: $mypurple;
    order: 2;
    box-shadow: rgba(0, 0, 0, 0.01) 0px 19px 38px, rgba(0, 0, 0, 0.05) 0px 15px 12px;
    border-radius: $imageborderradius;
    margin: 1rem;
}

.imagethree__img {
    max-width: 100%;
    display: block;
    width: 25rem;
    transition: opacity ease-out 250ms;
    opacity: 1;
    border-radius: $imageborderradius;
}

.imagethree__img:hover {
    opacity: 1;
    border-radius: $imageborderradius;
}

.imagethree__overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $mypink;
    font-weight: 400;
    opacity: 1;
    transition: opacity ease-out 250ms;
    background:  rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: $imageborderradius;
}


.imagethree:hover .imagethree__overlay {
    opacity: 1;
    border-radius: $imageborderradius;
}
.imageoutercontainer img {
    width: 400px;
    height: 15rem;
    position: relative;
    background-color: rgba(0, 0, 0, .6);
}

.abouttitle {
    position: relative;
    font-family: 'Spline Sans Mono', monospace;
    width: max-content;
  }
  
 .abouttitle::before,
  .abouttitle::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .abouttitle::before {
    background: linear-gradient(#d6cecf, #afbcd8);

    animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards;
  }
  
  .abouttitle::after {
    width: 0.125em;
    background: $mypurple;
    animation: typewriter var(--typewriterSpeed)
        steps(var(--typewriterCharacters)) 1s forwards,
      blink 750ms steps(var(--typewriterCharacters)) infinite;
  }
  
  
  @keyframes typewriter {
    to {
      left: 100%;
    }
  }
  
  @keyframes blink {
    to {
      background: transparent;
    }
  }
  
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .imageoutercontainer {
    width: auto;
    height: auto;
    position: relative;
    background-attachment: fixed;
    margin-bottom: 0rem;

    &::before,
    &::after {
        content: '';
    }

    &::before {
        width: 100%;
        height: 100%;
        z-index: 0;    
    }
    &::after {
       
        width: 100vw;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        height: 100%;
        z-index: -1;
    }
}


.gridcontainer {
    display: grid;
    place-items: center;
    perspective: 15000px;
    width: 50%;
    perspective-origin: 50% calc(50% - 1300px);
    z-index: -1;
    opacity: .5;
}
.panelcontainer {
    display: flex;
    transform-style: preserve-3d;
    animation: rotater 24s infinite linear;

}
$width: 179px;
.panel {
    width: $width;
    height: 150px;
    position: absolute;
    overflow: hidden;
    // background-color: #fff4;
    transform: translate(-50%, -50%) rotateY(var(--angle)) translateZ(675px);
}
@keyframes rotater {
     to { transform: rotateY(-360deg);}
}
.panel::before {
    position: absolute;
    content: '"The only thing worse than starting something and failing... is not starting something."';
    font-size: 100px;
    left: var(--left);
    width: max-content;
    color: $mypurple;
}

@for $i from 0 to 24 {
    .panel:nth-child(#{$i+1}) {
        --left: #{$width * $i * -1};
        --angle: #{calc(360deg/ 24 * $i)};
    }
}

li.thumb {
    width: 0vw !important;
    height: 0vh !important;
    border: .2rem solid $mypurple !important;
    cursor: pointer !important;
    visibility: hidden !important;
}
li.thumb.selected {
    border: .2rem solid $mypink !important;
}
.carousel .control-dots .dot {
    background: $mypurple !important;
}
.carousel .slider-wrapper {
    width: 25rem !important;
}
ul {
    margin-bottom: 3rem !important;
}
.carousel .carousel-status {
    visibility: hidden !important;
}
.carousel.carousel-slider .control-arrow {
    color: $mypink !important;
}
.carousel.carousel-slider .control-arrow:hover {
    background-color: rgba(94, 84, 142, .5) !important;
}
#aboutcontainerid > div.svgparacarouselcontainer > div.imageoutercontainer {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
#aboutcontainerid > div.svgparacarouselcontainer > div.imageoutercontainer > div > div:nth-child(2) > div {
    visibility: hidden !important;
    width: 0 !important;
    height: 0 !important;
}
