/* font-family: 'Merienda', cursive; */

// $black: #000000;
// $champagne-pink: #f9dec9;
// $wild-blue-yonder: #99b2dd;
// $raw-umber: #7e6551;
// $purple-navy: #5e548e;

//some other variables throughout the code defined above
//the parts as needed for easier toggling / changing of 
//effects
*, *::before, *::after { 
    box-sizing: border-box 
}
//my variables
:root {
    --typewriterSpeed: 6s;
    --typewriterCharacters: 11;
  }

  $myblack: hsl(240, 100%, 3%);
  $mypurple: #5e548e;
  $myblue: #99b2dd;
  $mypink: #f9dec9;

  //change to adjust the curvature of the images
  $imageborderradius: 10%;



#aboutcontainerid {

    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    color: $mypurple;
    font-family: 'Merienda', cursive;
}

#aboutinnercontainerid {
    order: 0 !important;
    width: auto;
    height: auto;
    position: relative;
    font-weight: 600;
    font-size: clamp(2vw, 5vw, 5rem);
    margin-bottom: 3rem;
    background-attachment: fixed;

    &::before,
    &::after {
        content: '';
        display: block;
        position: absolute;
    }

    &::before {
        width: 100%;
        background: linear-gradient($mypink, $myblue), url(../assests/leather.svg);
        height: 100%;
        z-index: 0;    
    }
    &::after {
        background: linear-gradient($mypink, $myblue), url(../assests/leather.svg);
        width: 100vw;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        height: 100%;
        box-shadow: rgba(0, 0, 0, 0.01) 0px 19px 38px, rgba(0, 0, 0, 0.05) 0px 15px 12px;
        z-index: -1;
    }

}

.svgandparacontainer {
    display: flex;
    width: full;
    height: 100%;
    flex-direction: row;
    margin: 9rem;
    order: 1 !important;
    column-gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    background: linear-gradient(to bottom, #5e548e, #67659e, #7077ad, #7b88bc, #879aca, #8da2d0, #93aad7, #99b2dd, #99b2dd, #99b2dd, #99b2dd, #99b2dd), url(../assests/leather.svg);
    box-shadow: rgba(0, 0, 0, 0.01) 0px 19px 38px, rgba(0, 0, 0, 0.05) 0px 15px 12px;
    background-attachment: fixed;
    z-index: 2;

}

.inner_poligon{
    order: 0 !important;
    display: flex;
    background: linear-gradient($myblue, $mypink), url(../assests/leather.svg);
    width: 40rem; 
    min-width: 40rem;
    min-height: 40rem;
    height: 40rem; 
    justify-content: center;
    align-items: center;
    clip-path: circle(50% at 50% 50%); 
    max-width: 1440px;
    padding: 4vh;
    box-shadow: rgba(0, 0, 0, 0.01) 0px 19px 38px, rgba(0, 0, 0, 0.05) 0px 15px 12px;
    cursor: pointer;
    background-attachment: fixed;


}
.inner_poligon:active {
    will-change: transform;
    transition:  rotateY(45deg) 500ms ease-in-out;
    animation: rotateAnimation 2500ms infinite;

}
@keyframes rotateAnimation {
	from {transform: rotateY(45deg);}
	to {transform: rotateY(225deg);}
}

 @media screen and (max-width: 1000px) {
    .inner_poligon {
        flex-direction: column;
        width: 25rem; 
        min-width: 25rem;
        min-height: 25rem;
        height: 25rem;  
        min-inline-size: 10em;
        padding: 9vh;
        order: 0 !important;
        display: flex;
        background: linear-gradient($myblue, $mypink), url(../assests/leather.svg);
        justify-content: center;
        align-items: center;
        clip-path: circle(50% at 50% 50%); 
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, 
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }
}


.bubblegumgif {
    width: auto;
    height: auto; 
    opacity: .8;
}

@media screen and (max-width: 1000px) {
    .bubblegumgif {
        display: inline-block;
        width: auto; 
        height: auto;
    }
}
@media only screen 
and (max-device-width: 0px) 
and (min-device-width: 320px) { 
    .inner_poligon {
        flex-direction: column;
        width: 15rem; 
        min-width: 15rem;
        height: 15rem;  
        min-height: 15rem;
        min-inline-size: 10em;
        padding: 9vh;
        order: 0 !important;
        display: flex;
        background: linear-gradient($myblue, $mypink), url(../assests/leather.svg);
        justify-content: center;
        align-items: center;
        clip-path: circle(50% at 50% 50%); 
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, 
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }
    .svgandparacontainer {
        flex-direction: column;
        display: flex;
        width: 100%;
        height: 100%;
        margin: 5rem;
        order: 1 !important;
        column-gap: 2rem;
        justify-content: center;
        align-items: center;
        border-radius: 5%;
    }
    
    .imageoutercontainer {
        order: 2 !important;
        width: fit-content;
        min-height: 30vh;
        margin-bottom: 6rem;
        margin-top: 9rem;
        column-gap: 3rem;
        row-gap: 3rem;
        align-items: center;
    }
   
    .imageoutercontainer img {
        width: 300px;
        position: relative;
        background-color: grey;
    }
 }


@media only screen 
and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .inner_poligon {
        flex-direction: column;
        width: 15rem; 
        min-width: 15rem;
        height: 15rem;  
        min-height: 15rem;
        min-inline-size: 10em;
        padding: 9vh;
        order: 0 !important;
        display: flex;
        background: $mypink;
        justify-content: center;
        align-items: center;
        clip-path: circle(50% at 50% 50%); 
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, 
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }
    .svgandparacontainer {
        flex-direction: column;
        display: flex;
        width: 100%;
        height: 100%;
        margin: 5rem;
        order: 1 !important;
        column-gap: 2rem;
        justify-content: center;
        align-items: center;
        // outline: .1rem double $mypurple;
        border-radius: 5%;
     }
     .imageoutercontainer {
        flex-flow: column;
        order: 2 !important;
        width: auto;
        min-width: 400px;
        height: 100%;
        width: 100%;
        min-height: 30vh;
        margin-bottom: 6rem;
        margin-top: 9rem;
        column-gap: 3rem;
        row-gap: 3rem;
        display: flex;
        padding: 1rem;
        align-items: center;
        
    }
  }

#aboutfirstparaid {
    font-size: calc(2.1vw + .5rem);
    order: 1 !important;
    width: 100%;
    height: 95%;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
    box-shadow: rgba(0, 0, 0, 0.01) 0px 19px 38px, rgba(0, 0, 0, 0.05) 0px 15px 12px;
    transition: all .4s ease;
    transform-style: flat;
    transition: transform 3s;
    max-width: 1440px;
    min-height: 40vh;
    padding: 1vh;
    background: linear-gradient($mypink, $myblue), url(../assests/leather.svg);
    background-attachment: fixed;

}
#aboutfirstparaid:hover {
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
    box-shadow: rgba(0, 0, 0, 0.01) 0px 19px 38px, rgba(0, 0, 0, 0.05) 0px 15px 12px;
}
@media screen and (max-width: 1000px) {
    .svgandparacontainer {
        flex-direction: column;
        display: flex;
        width: 100%;
        height: 100%;
        margin: 5rem;
        order: 1 !important;
        column-gap: 2rem;
        justify-content: center;
        align-items: center;
        outline-offset: 3rem;
        border-radius: 10%;
        
    }

    #aboutfirstparaid {
        min-height: 15vh;
        padding: 2vh;
        font-size: calc(2.1vw + .5rem);
        order: 1 !important;
        width: 100%;
        height: 95%;
        border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
        box-shadow: rgba(0, 0, 0, 0.01) 0px 19px 38px, rgba(0, 0, 0, 0.05) 0px 15px 12px;
        transition: all .4s ease;
        transform-style: flat;
        transition: transform 3s;
        max-width: 1440px;
    }
    
}

.imageoutercontainer {
    order: 2 !important;
    min-height: 30vh;
    margin-bottom: 6rem;
    column-gap: 3rem;
    row-gap: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    scroll-behavior: smooth;
    position: relative;
}
.imageoutercontainer img {
    max-width: fit-content; 
    box-shadow: rgba(0, 0, 0, 0.01) 0px 19px 38px, rgba(0, 0, 0, 0.05) 0px 15px 12px;

}
 .imageone__img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: $imageborderradius;
}

.imagetwo__img {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        border-radius: $imageborderradius; 
}

.imagethree__img {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        border-radius: $imageborderradius; 
}

.imagefour__img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: $imageborderradius; 
}




@media screen and (min-width: 1490px) {
    
.imageoutercontainer {

    position: relative;




    &::before,
    &::after {
        content: '';
        display: block;
        position: absolute;      
    }

    &::before {
        width: 100%;
        // background: linear-gradient($myblue, $mypink), url(../assests/leather.svg);
        height: 100%;
        z-index: -1;

    }
    &::after {
        // background: linear-gradient($myblue, $mypink), url(../assests/leather.svg);
        width: 100vw;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        z-index: -2;
        height: 100%;
        // box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }
}
}

@media screen 
and (min-width: 320px)
and (max-width: 1490px) {
    .imageoutercontainer {
        flex-direction: column;
        order: 2 !important;
        width: auto;
        min-height: 30vh;
        margin-bottom: 6rem;
        column-gap: 3rem;
        display: flex;
        align-items: center;
    }
    .imageoutercontainer img {
        width: 400px;
        height: auto;
        position: relative;
        background-color: grey;
    }
 
}
.image {
    width: auto;
    height: fit-content;
    position: relative;
    background-color: grey;
    order: 2;
    border-radius: $imageborderradius;
    margin: 1rem;
}

.image__img {
    width: 100%;
    display: block;
    transition: opacity ease-out 250ms;
    opacity: 1;
    border-radius: $imageborderradius;

}


.image__img:hover{
    opacity: 0.3;
    border-radius: $imageborderradius;
}

.image__overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $mypink;
    font-weight: 400;
    opacity: 0;
    transition: opacity ease-out 250ms;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: $imageborderradius;
}


.image:hover .image__overlay {
    opacity: 1;
    border-radius: $imageborderradius;
}




.imagetwo {
    width: auto;
    height: fit-content;
    position: relative;
    background-color: grey;
    order: 2;
    box-shadow: rgba(0, 0, 0, 0.01) 0px 19px 38px, rgba(0, 0, 0, 0.05) 0px 15px 12px;
    border-radius: $imageborderradius;
    margin: 1rem;


}

.imagetwo__img {
    width: 100%;
    display: block;
    transition: opacity ease-out 250ms;
    opacity: 1;
    border-radius: $imageborderradius;

}

.imagetwo__img:hover{
    opacity: 0.3;
    border-radius: $imageborderradius;

}

.imagetwo__overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $mypink;
    font-weight: 400;
    opacity: 0;
    transition: opacity ease-out 250ms;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: $imageborderradius;
 
}

.imagetwo:hover .imagetwo__overlay {
    opacity: 1;
    border-radius: $imageborderradius;

}




.imagethree {
    width: auto;
    height: fit-content;
    position: relative;
    background-color: grey;
    order: 2;
    box-shadow: rgba(0, 0, 0, 0.01) 0px 19px 38px, rgba(0, 0, 0, 0.05) 0px 15px 12px;
    border-radius: $imageborderradius;
    margin: 1rem;
}

.imagethree__img {
    max-width: 100%;
    display: block;
    width: 25rem;
    transition: opacity ease-out 250ms;
    opacity: 1;
    border-radius: $imageborderradius;
}

.imagethree__img:hover {
    opacity: 0.3;
    border-radius: $imageborderradius;
}

.imagethree__overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $mypink;
    font-weight: 400;
    opacity: 0;
    transition: opacity ease-out 250ms;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: $imageborderradius;
}


.imagethree:hover .imagethree__overlay {
    opacity: 1;
    border-radius: $imageborderradius;
}
.imageoutercontainer img {
    width: 400px;
    height: 15rem;
    position: relative;
    background-color: grey;
}
.imageoutercontainer .left {
    height: 100%;
    background-color: rgb(0, 0, 0, .6);
    color: $mypink;
    cursor: pointer;
    order: 1;
}
.imageoutercontainer .center {
    flex: 5%;
    height: 100%;
}
.imageoutercontainer .right {
    height: 100%;
    background-color: rgb(0, 0, 0, .6);
    color: $mypink;
    cursor: pointer;
    order: 5;
}
.imageoutercontainer .up {
    height: 100%;
    background-color: rgb(0, 0, 0, .6);
    color: $mypink;
    cursor: pointer;
    order: 1;
}
.imageoutercontainer .center {
    flex: 5%;
    height: 100%;
}
.imageoutercontainer .down {
    height: 100%;
    background-color: rgb(0, 0, 0, .6);
    color: $mypink;
    cursor: pointer;
    order: 5;
}

.abouttitle {
    position: relative;
    font-family: "Source Code Pro", monospace;
    width: max-content;
  }
  
 .abouttitle::before,
  .abouttitle::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .abouttitle::before {
    background: linear-gradient($mypink, $myblue);

    animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards;
  }
  
  .abouttitle::after {
    width: 0.125em;
    background: $mypurple;
    animation: typewriter var(--typewriterSpeed)
        steps(var(--typewriterCharacters)) 1s forwards,
      blink 750ms steps(var(--typewriterCharacters)) infinite;
  }
  
  
  @keyframes typewriter {
    to {
      left: 100%;
    }
  }
  
  @keyframes blink {
    to {
      background: transparent;
    }
  }
  
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
