/* font-family: 'Merienda', cursive; */

// $black: #000000ff;
// $champagne-pink: #f9dec9ff;
// $wild-blue-yonder: #99b2ddff;
// $raw-umber: #7e6551ff;
// $purple-navy: #5e548eff;

//variables
$myblack: #00000f;
$mypurple: #5e548eff;
$myblue: #99b2ddff;
$mypink: #f9dec9ff;

.navcontainer{ 
    font-family: 'Merienda', cursive;
    background: linear-gradient($myblue, $mypurple), url(../assests/leather.svg);
    cursor: pointer !important;
    font-size: 2vw;
    // outline-offset: -.4rem;
    // outline: .1rem dashed $mypink;
}
@media screen and (max-width: 1000px) {
    .navcontainer {
        outline: none;
    }
}
@media only screen 
and (max-device-width: 0px) 
and (min-device-width: 320px) { 
    
    .nav-list {
        margin-top: 0.2rem;
        width: 100%;
        min-width: none;
        text-align: center;
        column-gap: .9rem;
    }
    .navcontainer {
        outline: none;
        font-size: .4rem;
        height: fit-content;
        width: 100%;
    }

}
.nav-list {
    list-style-type: none;
    display: flex;
    height: auto;
    justify-items: center;
    align-items: center;
    width: 100%;
    text-align: center;
    justify-content: center;
    min-width: 320px !important;
    overflow: hidden;
    white-space: nowrap;
    column-gap: .9rem !important;
    margin-top: 0.2rem;
    a {
        color:     $mypink;
        text-decoration: none;
        border-bottom: 0.2em solid $mypurple;
        border-top: 0.2em solid $mypurple;
        padding: 1rem;
        transition: background 0.1s cubic-bezier(.33,.66,.66,1);
    }    
}

a {
    color:     $mypink;
    text-decoration: none;
    border-bottom: 0.2em solid $mypurple;
    border-top: 0.2em solid $mypurple;

    transition: background 0.1s cubic-bezier(.33,.66,.66,1);
}

a:hover,
a:focus {
  background: linear-gradient($myblue, $mypink), url(../assests/leather.svg);
  color: $mypurple;
  text-decoration: underline;
  border-radius: 10%;
}

#aboutbtnnav {
    order: 0 !important;
}
#projectsbtnnav {
    order: 1 !important;
} 
#skillsbtnnav {
    order: 2 !important;
}
#contactbtnnav {
    order: 3 !important;;
}
