
/* font-family: 'Merienda', cursive; */

// $black: #000000ff;
// $champagne-pink: #f9dec9ff;
// $wild-blue-yonder: #99b2ddff;
// $raw-umber: #7e6551ff;
// $purple-navy: #5e548eff;


//variables
$myblack: hsl(240, 100%, 3%);
$mypurple: #5e548e;
$myblue: #99b2dd;
$mypink: #f9dec9;


.projectsouterdivclass {
    display: flex;
    width: 100%;
    height: auto;
    color: $mypink;
    font-family: 'Merienda', cursive;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    
  }

 .projectsinnerdivclass {
  background: linear-gradient($mypurple, $myblue), url(../assests/leather.svg);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  align-items: left;
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 5rem;
  background-attachment: fixed;
}
.videodiv {
  order: 1;
  width: 50%;
  margin: 1rem;
  padding: 1rem;
}
.projectsparaclass {
  order: 1;
  width: 40%;
}
#projectstitleid {
  font-size: 6rem;
  order: 0;
}

@media screen and (max-width: 1000px) {
  #projectstitleid {
    font-size: 3rem;
  }
}
.projectsinnerdivclass{
    font-size: 2.5vh;
    width: 100%;
    padding: 5%;

}

.projectsmappingdivclass {
    display: flex;
    transform-style: flat;
    transition: transform 3s;
    width: 100%;
    max-width: 1440px;
    justify-content: center;
    align-items: center;


    a {
      border-radius: 0%;
    }
  }
  .projectsmappingdivclass:hover {
    border-radius: 0;
  }
  
  .projectimgclass {
    width: 100%;
    padding: 5%;
    max-height: 40rem;
   
  }
  .projectsparaclass {
    padding: 0;
    margin: 0;
    width: 100%;
  }
 
@media screen and (max-width: 980px) {
  .projectimgclass {
    max-height: 30rem;
  }
}
@media screen and (max-width: 1504px) {
    .projectsmappingdivclass {
        flex-direction: column;
        width: 100%;
        padding: 5%;

    }
    .projectsouterdivclass {
        outline: none;
    }
}
@media only screen 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .projectsmappingdivclass {
      flex-direction: column;
      width: 100%;
      font-size: 1rem;
      padding: 5%;
    }
  .projectsouterdivclass {
      outline: none;
  }
  .projectsimgcontainerclass .projectimgclass{
    width: 250px;
}
  }

  @media only screen 
  and (max-device-width: 320px) { 
    .projectsmappingdivclass {
      flex-direction: column;
      width: 100%;
      padding: 5%;
      font-size: .7rem;
    }
  .projectsouterdivclass {
      outline: none;
  }
  .projectsimgcontainerclass .projectimgclass{
    width: 180px;
}
  }
.projectslinkclass {
    outline: .3rem solid $mypurple;
    margin: 1.5rem;
    width: 100%;
    height: auto;
    background: linear-gradient($mypink, $myblue), url(../assests/leather.svg);
    background-attachment: fixed;

    color: $mypurple;
    align-items: center;
    justify-content: center;
}


.projectsimgcontainerclass .projectssubtitlecontainerclass {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px; 
    width: auto;
    padding: 4%;
    width: 100%;
    min-height: 25rem;

}

@-webkit-keyframes wobble-vertical-on-hover {
    16.65% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
    33.3% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
    49.95% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
    66.6% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
    83.25% {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @keyframes wobble-vertical-on-hover {
    16.65% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
    33.3% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
    49.95% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
    66.6% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
    83.25% {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  img {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  img:hover, img:focus, img:active {
    -webkit-animation-name: wobble-vertical-on-hover;
    animation-name: wobble-vertical-on-hover;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }
