// $black: #000000ff;
// $champagne-pink: #f9dec9ff;
// $wild-blue-yonder: #99b2ddff;
// $white: #ffffff;
// $purple-navy: #5e548eff;



//variables
$myblack: hsl(240, 100%, 3%);
$mypurple: rgba(94, 84, 142, 1);
$myblue: rgba(153, 178, 221, 1);
$mypink: rgba(249, 222, 201, 1);


::-webkit-scrollbar {
  width: 1.5em;
  cursor: pointer;
  height: 1em;
}

::-webkit-scrollbar-track {
  background: $myblue;
  border: .1em solid $mypurple;

}

::-webkit-scrollbar-thumb {
  background: $mypink;
  border: .25em solid $mypink;
  outline: .1em solid $mypurple;
  border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover {
  background: $mypurple;
}

@supports (scrollbar-color: $myblue $mypurple) {
  * {
    scrollbar-color: $myblue $mypurple;
    scrollbar-width: auto;
  }
}



.containerclass {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  backface-visibility: visible;
  background-origin: border-box !important;
  background-attachment: fixed !important;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $myblue;
  
}
.line-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
}
svg {
  display: inline-block;
  height: 100%;
  
}
.appbodyclass {
  text-align: center;
  backface-visibility: visible;
  background-origin: border-box !important;
  background-attachment: fixed !important;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: $myblue;
  overflow: hidden;
  width: 100%;
  margin: 3%;
  padding: 6%;
  display: flex;
  flex-direction: column;
  align-self: center;
}

#navbardivid {
  z-index: 2;
  position: sticky;
  top: .1em;
  width: 100%;
}





