// $black: #000000;
// $champagne-pink: #f9dec9;
// $wild-blue-yonder: #99b2dd;
// $raw-umber: #7e6551;
// $purple-navy: #5e548e;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}





